body{
padding:0;
margin:0;
}
.faculty{
	background-color: violet;
	size: 20px;
}


.mainclass{
	color:green;
        size: 40px;
        text-decoration: underline;
        
}
   .main{
     background-color:maroon;
     color:white;
     display : flex;
     justify-content: space-between;

}
 ol{ 
 display: flex;
 list-style-type: none;
}

 li{
 padding-right: 10px;
}
.shape{
width:500px;
height:500px;
background-color:red;
border-radius:50%; 
}
